# Ignore venv folder
.venv/

# Ignore pycache
__pycache__

# Ignore session data
/*_session/

# Ignore any compiled Python files
*.pyc

# Ignore secret
secret.py

# Ignore any IDE-specific files
.vscode/
.idea/
.DS_Store