# Ignore venv folder
backend/.venv/

# Ignore pycache
backend/__pycache__/

# Ignore session data
backend/flask_session/

# Ignore any compiled Python files
*.pyc

# Ignore secret
secret.py

# Ignore any IDE-specific files
.vscode/
.idea/
.DS_Store

# Ignore list of bad words
backend/badwords.txt

# Ignore to-do list
TODO.txt