# Ignore venv folder
potion_pile_up/backend/.venv/

# Ignore pycache
potion_pile_up/backend/__pycache__/

# Ignore session data
potion_pile_up/backend/flask_session/

# Ignore any compiled Python files
*.pyc

# Ignore secret
secret.py

# Ignore any IDE-specific files
.vscode/
.idea/
.DS_Store

# Ignore list of bad words
badwords.txt