.nav-item {
    padding: 10px;
}

.nav-link {
    font-size: 22px;
    color: white;
}

.nav-link.orange {
    font-size: 22px;
    color: #add8e6;;
}

.navbar-toggler {
    color: white;
    background-color: #add8e6;;
}

.bg {
    /*
    Adapted from Atle Mo and Lea Verou
    */
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.login-text {
    color: #add8e6;;
    font-size: 28px;
    text-align: center; 
    padding-top: 100px;
    padding-bottom: 100px;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.acknowledgements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.acknowledgements-content {
    max-width: 500px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 22px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashes {
    color: white;
    list-style: none;
    position: fixed;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(43, 73, 133, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tutorial-text {
    position: absolute;
    padding-right: 8px;
    top: 20;
    left: calc(70% + 10px);
    text-align: center;
    font-size: 22px;
    color: #add8e6;;
    padding-top: 8px;
}

.game-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    height: 800px; 
    padding-top: 8px;
}

#canvas {
    background:url(media/background_glacial_mountains.png) no-repeat center center;
    background-size: cover;
}

@media (max-width: 1480px) {
    .game-container {
        position: relative;
    }
    .tutorial-text {
        left: 0;
        right: 0;
        position: relative;
        top: 10px;
    }

    .login-text {
        left: 0;
        right: 0;
        position: relative;
        top: 10px;
    }
}

.table {
    border-radius: 8px;
    overflow: hidden;
}

#background-login-canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}