{% extends "layout.html" %}

{% block title %}
    Acknowledgements
{% endblock %}

{% block main %}

    <div class="acknowledgements">
        <div class="acknowledgements-content"><br>
            <p><a href="https://github.com/fahris-n/potion-pile-up" target="_blank">GitHub</a></p>
            <br>
            <p>Music from zapsplat</p>
            <br>
            <p>Pixel art game background from Free Game Assets on itch.io</p>
            <br>
            <p>A special thanks to David Malan and everyone involved in CS50</p>
        </div>
    </div>

{% endblock %}

