{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<body>
    <div class="game-container">
        <canvas id="canvas" width="600" height="800" style="border:4px solid #ffffff;">
        </canvas>
    </div>
    <div class="tutorial-text">
        <p>CONTROLS</p>
        <p>A: Move left</p>
        <p>D: Move right</p>
    </div>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>

    <!-- Embed audio file-->
    <audio id="bg-music-login" loop>
        <source src="{{ url_for('static', filename='media/wizard_game_music.mp3') }}" type="audio/mpeg">
    </audio>

    <!-- Begin playing music when content is loaded -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var audio = document.getElementById('bg-music-login');
            audio.volume = 0.05;
            audio.play();
        });
    </script>

{% endblock %}
