{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div class="container">

    <div class="login-text">
        <p>
            "Welcome to Potion Pile Up! Create an account or log in to embark on a magical journey. Catch falling potions from the sky, but beware! Let three potions hit the ground, and the game is over. Compete for high scores by collecting as many potions as you can!"</p>
    </div>

    <div class="login-form">
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Log In</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
